<div class="projects">
	<h1 class="header_layout">Lab</h1>
	<table>
		<tbody>
			<tr>
				<td>
					<a href="http://istock-dojo.herokuapp.com/">
						<img src="/images/iStock.png" alt="istock">
					</a>
				</td>
				<td>
					<h1>iStock</h1>
					<p>eCommerce stock photo store</p>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://local-organics.herokuapp.com/">
						<img src="/images/local_organics.png" alt="local organics">
					</a>
				</td>
				<td>
					<h1>Local Organics</h1>
					<p>Local farmers market information</p>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://github.com/Eggsix/ninja_gold">
						<img src="/images/ninja_gold.png" alt="ninja gold">
					</a>
				</td>
				<td>
					<h1>Ninja Gold</h1>
					<p>Ninja Gold game built with Sinatra framework</p>
					<p>(source code only!)</p>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://eggsix.github.io/pacman/">
						<img src="/images/pacman.png" alt="pacman">
					</a>
				</td>
				<td>
					<h1>Pac Man</h1>
					<p>pacman game with ghost AI</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
