<div id="login">
	<small ng:bind="usrCtrl.success.success"></small>
	<small class="error" ng:bind="usrCtrl.errors.error"></small>			
	<form name="login">
		<label>Email</label>
		<input  class="form-control" type="email" name="email", ng:model="usrCtrl.logUser.email" placeholder="email" required>

		<div class="error-container" ng:show="login.email.$dirty && login.email.$invalid">
	      <small class="error" ng:show="login.email.$error.required">Your email is required.</small>
	      <small class="error" ng:show="login.email.$error.email">That is not a valid email. Please input a valid email.</small>
	    </div>

		<label>Password:</label>
		<input class="form-control" type="password" name="password" ng:model="usrCtrl.logUser.password" placeholder="password" ng:minlength = 8 required>

		<div ng-show="login.password.$dirty && login.password.$invalid">
			<small class="error" ng:show="login.password.$error.required">
				password is required
			</small>
			<small class="error" ng:show="login.password.$error.minlength">
				password needs to be at least 8 characters
			</small>
		</div>	
		<button ng:click="usrCtrl.login()">Login</button>
		<button><a href="/sign_up">Sign up</a></button>
	</form>
</div>