<!-- <header id="header" >
	<div id="weather" ng:controller="weatherController as weatherCtrl">
		<h2 ng:bind="weatherCtrl.city"></h2>
		<h2 ng:bind="weatherCtrl.condition"></h2>
		<h2><span ng:bind="weatherCtrl.fehrenheit"></span><span>&#8457;</span></h2>
	</div>
</header> -->
<div id="about">
	<div id="about_me">
		<h1 class="header">About Me</h1>
		<h2>Who is Preston anyway?</h2>
		<p>
			Well versed in the arts of (L)AMP, MEAN, IOS, and ROR, he is a Web Developer just setting on a journey to accomplish great things! See those bags under his eyes? He's sacrificed countless hours at the Coding Dojo's 14 week immersive bootcamp mastering clean, elegant, and functional code. If you're looking for a programmer with a loaded arsenal that will get the job done. Check out his portfolio and if you like what you see head over to the contact area and shoot him an email!  
		</p>

		<p>
			Aside from talking about myself in 3rd person.
			
		</p>
	</div>
</div>