	<div id="about_me">
		<h1 class="header_layout">About Me</h1>
		<div class="info">

		<div class="row">
		    <div class="col s12">
		      	<ul class="tabs">
			        <li class="tab col s3"><a href="#test1">Coder</a></li>
			        <li class="tab col s3"><a href="#test2">Hobbies</a></li>
			     </ul>
		    </div>
		    <div id="test1" class="col s12">
		    	<h3>Tech Skills</h3>

				<h5>Languages:</h5>
				<p>JavaScript, Ruby, PHP, Swift, HTML5, CSS3, SQL</p>

				<h5>Libraries and Frameworks:</h5>
				<p>JS(Angular JS, jQuery, Express.js, Socket.io, Gulp.js), Bootstrap, CodeIgniter, AJAX, SASS/SCSS, Ruby On Rails, Materialize</p>
				
				<h5>Databases:</h5>
				<p>MongoDB, MySQL, Mongoose.js, PostgreSQL</p>

				<h5>Servers:</h5>
				<p>Web Brick, Node.js, Apache</p>
		    </div>
		    <div id="test2" class="col s12">
		    	
		    </div>
		    <div id="test3" class="col s12">
		    	<h3>Hobbies</h3>
		    	<ul>
		    		<li>Hiking</li>
		    		<li>Lifting Weights</li>
		    		<li>Tennis</li>
		    		<li>Swimming</li>
		    		<li>Dancing</li>
		    	</ul>
		    </div>
		 </div>

			<br>
			<a href="https://www.linkedin.com/pub/preston-phan/aa/272/144">
	          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Preston Phan's profile on LinkedIn">
	    	</a>
    	</div>
	</div>